{% from 'bootstrap5/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            {% block styles %}
                <!-- Bootstrap CSS -->
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>That is my title page</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="nav navbar-nav">
                {{ render_nav_item('index', 'Home') }}
            </ul>
            <div class="navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                    {{ render_nav_item('login', 'Login') }}
                    {{ render_nav_item('about', 'About') }}
                {% else %}
                    {{ render_nav_item('admin', 'Admin Panel') }}
                    {{ render_nav_item('logout', 'Logout') }}
                {% endif %}
            </div>
        </nav>
        <!-- Your page content -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}

        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
        <footer class="text-center">
            <small> &copy;<script>document.write(new Date().getFullYear())</script> <a href="https://github.com/curaposterior">Curaposterior</a>
            <br>(Build with Bootstrap5)</small>
        </footer>
    </body>
</html>